html[data-glossary-layout-mode="compact"] {
    .definition-item[data-dictionary="有斐閣法律用語辞典 第５版"] {
        [data-sc項目表示],
        [data-sc項目],
        [data-sc本文データ],
        [data-sc-entry] {
            display: inline;
        }
    }

    .definition-item[data-dictionary="角川新字源 改訂新版"] {
        [data-sc-jukugohead] {
            display: inline;
            font-size: 1.25em;
        }
    }

    .definition-item[data-dictionary="大辞泉 第二版"] {
        [data-sc見出-g],
        [data-sc-contents] {
            display: inline;
        }
    }

    .definition-item[data-dictionary="明鏡国語辞典 第三版"] {
        [data-sc-head],
        [data-sc-head2],
        [data-sc-xmlns] {
            display: inline;
        }
    }

    .definition-item[data-dictionary="旺文社 全訳古語辞典"] {
        [data-sc見出],
        [data-sc見出-g],
        [data-sc-head-g] {
            display: inline;
        }
    }

    .definition-item[data-dictionary="三省堂 全訳読解古語辞典"] {
        [data-sc見出部],
        [data-sc項目] {
            display: inline;
        }
    }

    .definition-item[data-dictionary="有斐閣現代心理学辞典"],
    .definition-item[data-dictionary="現代心理学辞典"] {
        [data-sc-head2],
        [data-sc-xmlns] {
            display: inline;
        }

        [data-sc-headword][data-sc見出] {
            font-size: 1em;
        }
    }

    .definition-item[data-dictionary="南山堂医学大辞典 第20版"] {
        [data-sc-midashi],
        [data-sc-midashi_hyoki],
        [data-sc-midashi_yomi] {
            display: inline;
        }

        [data-sc-midashi]::after {
            background-color: transparent !important;
        }
    }
}