/* Basic approach: define light mode colors as default */
/* Consistently use your preferred variable names */

:where(*) {
	--ydp-blue: rgb(28, 28, 228);
	--ydp-image-background: #eeeeee;
}

[data-sc-body] {
	/* Apply the conditional colors */

	color: var(--text-color, black);
	line-height: 1.5em;
}

a {
	color: var(--ydp-blue-active, var(--ydp-blue)) !important;
	/* Fallback */
}

div[data-sc-image] {
	background-color: var(--ydp-image-background-active, var(--ydp-image-background)) !important;
}
	


[data-sc-body] {
	color: var(--text-color, black);
	line-height: 1.5em;
	vertical-align: baseline;
}

a {
	text-decoration: none;
}

span[data-sc-data] {
	display: none;
}

div[data-sc-data][data-sc筆者名] {
	text-align: right;
}

div[data-sc表] {
	margin-block-start: 0.5em;
	margin-block-end: 0.5em;
	text-align: center;
}

span[data-sc-em] {
	/* font-family: "Hiragino Kaku Gothic ProN"; */
	font-weight: bold;
	font-style: normal;
}

span[data-sc-i] {
	/* font-family: "Times New Roman"; */
	font-size: 1.1em;
}

div[data-sc-image] {
	margin-block-start: 0.5em;
	padding: 0.5em;
	background-color: var(--ydp-image-background);
	border-radius: 0.333em;
}

div[data-sc-image_caption] {
	margin-block-start: 0.5em;
	/* font-family: "Hiragino Kaku Gothic ProN"; */
	font-size: 1em;
	font-weight: bold;
	text-align: center;
}

div[data-sc-image_note] {
	margin-block-start: 1em;
}

div[data-sc-image_source] {
	margin-block-start: 1.2em;
	padding-inline-start: 2em;
	text-indent: -2em;
	font-size: 0.85em;
}

div[data-sc-image_img] div[data-sc-image_caption] {
	margin-block: 0.5em;
	margin-inline: 0;
	font-size: 0.85em;
	font-weight: normal;
}

div[data-sc-image_img] div[data-sc-img] {
	width: 80%;
	background-color: #fff;
}

div[data-sc-entryrefs] {
	margin-block-start: 0.5em;
	/* font-family: "Hiragino Kaku Gothic ProN"; */
}

span[data-sc-headword][data-sc見出] {
	/* font-family: "Hiragino Kaku Gothic ProN"; */
	font-weight: bold;
	font-size: 1.5em;
}

span[data-sc-headword][data-sc英語],
span[data-sc-headword][data-sc独語],
span[data-sc-headword][data-sc仏語] {
	font-family: "Times New Roman";
}

span[data-sc-img][data-sc表] {
	max-width: 80%;
	background-color: #fff;
}

span[data-sc-lang] {
	font-family: "Helvetica Neue";
}

[data-sc-meaning] {
	margin-block-start: 0.5em;
	text-indent: 1em;
}

[data-sc-meaning][data-sc見よ項目] {
	margin-inline-start: 1em;
	text-indent: 0;
}

[data-sc-meaning][data-sc引用] {
	padding-inline-start: 2em;
	text-indent: -2em;
}

span[data-sc-mlg] {
	margin-block: 0;
	margin-inline: 0.333em;
	font-size: 0.667em;
}

span[data-sc-ref][data-sc文献] {
	vertical-align: 0.5em;
	font-size: 0.85em;
}

rt {
	/* font-family: "Hiragino Mincho ProN"; */
	font-size: 0.5em;
	font-weight: normal;
}

[data-sc-body][data-sc-refs] {
	margin: 0;
}

span[data-sc-ref_group] {
	/* font-family: "Source Sans Pro", "Hiragino Kaku Gothic ProN"; */
	line-height: 1.25em;
}

span[data-sc-ref_group] span[data-sc-ref] {
	padding-inline-start: 2em;
	/* font-family: "Hiragino Mincho ProN"; */
	text-indent: -2em;
}

span[data-sc-ref_items] span[data-sc-ref] {
	padding-inline-start: 2em;
	/* font-family: "Hiragino Mincho ProN"; */
	text-indent: -2em;
}

span[data-sc-ref_items] {
	margin-block-start: 0.25em;
}

span[data-sc-ref_item] span[data-sc-headword][data-sc見出] {
	font-size: 0.9em;
	font-weight: normal;
}

span[data-sc-class="gaiji gaiji_arrow_thick"] {
	font-weight: bold;
}

span[data-sc-class="gaiji_dsm_5"] {
	border: 1px solid var(--text-color);
	border-radius: 0.5em;
	padding-block: 0.1em;
	padding-inline: 0.5em;
}

span[data-sc-class="gaiji_maruko"] {
	display: inline-block;
	border: 2px solid var(--text-color);
	border-radius: 50%;
	width: 1.5em;
	height: 1.5em;
	text-align: center;
	line-height: 1.5em;
}

span[data-sc-class="数式 math_letter"] span:first-child {
	margin-inline-start: 0.1em;
}

span[data-sc-class="数式 math_letter"] {
	font-family: "Times New Roman";
	font-style: italic;
	font-size: 1.25em;
}

span[data-sc-sup] {
	vertical-align: 0.5em;
	font-size: 0.8em;
	margin-inline-start: 0.25em;
}

span[data-sc-sub] {
	vertical-align: -0.5em;
	font-size: 0.8em;
	margin-inline-start: 0.25em;
}

div[data-sc-image]:has([data-sc-href="graphics/2311.mp4"]),
div[data-sc-image]:has([data-sc-href="graphics/2312.mp4"]),
div[data-sc-image]:has([data-sc-href="graphics/2317.mp4"]),
div[data-sc-image]:has([data-sc-href="graphics/2323.mp4"]),
div[data-sc-image]:has([data-sc-href="graphics/2326.mp4"]),
div[data-sc-image]:has([data-sc-href="graphics/2328.mp4"]),
div[data-sc-image]:has([data-sc-href="graphics/2330.mp4"]),
div[data-sc-image]:has([data-sc-href="graphics/2331.mp4"]),
div[data-sc-image]:has([data-sc-href="graphics/2332.mp4"]) {
	display: none;
}

[data-sc-img] a {
	max-height: 100%;
}

[data-sc-img] a {
	max-width: 100%;
}

[data-sc-img] .gloss-image-container {
	max-width: 100%;
	max-height: 100% !important;
}

span[data-sc-img] {
	margin-block: 0;
	margin-inline: 0.3em;
}

div[data-sc-img] {
	margin-inline-start: 2em;
}

[data-sc-img] .gloss-image-container {
	background-color: transparent !important;
}

a:hover,
a:focus,
a:active {
	color: #e4671b;
}

a {
	color: var(--ydp-blue);
}