:root[data-theme="dark"] {
    .definition-item[data-dictionary='旺文社 全訳古語辞典'] {
        --ozk5-black: #DDDDDD;
        --ozk5-white: #000000;
        --ozk5-blue: #00AAFF;
        --ozk5-red: #FF6666;
        --ozk5-light-red: #B24747;
        --ozk5-gray: #888;
        --ozk5-hinshi-mark: #CCCCCC;
        --ozk5-kakomi-border: #888;
        --ozk5-metadata-background: #888;
        --ozk5-example-katsuyou-mark: #AAAAAA;
        --ozk5-mark-border: #ACAC04;
        --ozk5-gogi-panel-header: #331414;
        --ozk5-ruigo-panel-background: #CCCCCC;
        --ozk5-ruigo-panel-border: #777;
        --ozk5-appendix-title-background: #BF6666;
        --ozk5-gendai-mark: #CCCCCC;
    }
}