div[data-sc見出] {
	font-size: 1.1em;
}

span[data-sc-rank] {
    margin-inline-start: -0.44em;
	margin-inline-end: 0.1em;
}

span[data-sc主見出] {
	/* font-family: "Hiragino Kaku Gothic ProN", sans-serif; */
	font-weight: bold;
}

span[data-sc主見出][data-sc重要語] {
    color: var(--ozk5-red, var(--danger-color));
}

span[data-sc割] {
	font-size: 0.6em;
	vertical-align: 0.5em;
	-webkit-user-select: nocopy;
    user-select: none;
}

span[data-sc小付] {
	font-size: 0.8em;
	vertical-align: 0.3em;
}

div[data-sc用例囲み-g],
div[data-sc和歌俳句囲み-g],
div[data-sc冒頭文囲み-g],
div[data-sc小倉囲み-g] {
	border-width: 0.05em;
	border-style: solid;
	border-color: var(--ozk5-kakomi-border, #999);
	margin-block-start: 0.2em;
	margin-block-end: 0.2em;
}

div[data-sc用例み-g],
div[data-sc用例訳-g] {
	margin-block: 0.1em;
	margin-inline: 0.3em;
}

span[data-sc用例訳] {
	/* font-family: "Hiragino Kaku Gothic ProN", sans-serif; */
	font-size: 0.85em;
}

div[data-sc用例メタデータ] {
	/* font-family: "Hiragino Kaku Gothic ProN", sans-serif; */
	font-size: 0.7em;
	text-align: right;
	line-height: 1.4em;
	padding-block: 0;
	padding-inline: 0.3em;
	color: var(--background-color-light, var(--background-color));
	background-color: var(--ozk5-metadata-background, #999) !important;
}

span[data-sc用例引用] {
	font-weight: bold;
	color: var(--ozk5-red, var(--danger-color));
}

div[data-sc小倉参照] {
	margin-inline-start: 0.3em;
}

span[data-sc文法テキスト][data-sc文法インデント2],
span[data-sc文法テキスト][data-sc文法インデント-2] {
    margin-inline-start: 2.0em;
}

span[data-sc巻頭カラーテキストタイトル] {
	/* font-family: "Hiragino Kaku Gothic ProN", sans-serif; */
	font-weight: bold;
}

span[data-sc巻頭カラーテキストタイトル] span[data-sc割] {
	/* font-family: "Yu Mincho Pr6N"; */
	font-weight: normal;
}

div[data-sc訳語-g] {
	/* font-family: "Hiragino Kaku Gothic ProN", sans-serif; */
}

span[data-sc訳語-g][data-sc大語義-t-m] {
	margin-block-start: 0.5em;
}

span[data-sc-hyoki] {
	/* font-family: "Yu Mincho Pr6N"; */
}

span[data-sc大語義インデックス][data-sc-l-m] {
	margin-inline-start: 0.2em;
}

table[data-sc-full-width] {
    width: 100%;
}

div[data-sc活用インライン-g] {
	margin-inline-start: 0.6em;
	/* font-family: "Yu Mincho Pr6N"; */
	font-size: 0.8em;
}

table[data-sc活用テーブル] {
	display: table;
	margin-block-start: 0.4em;
	margin-block-end: 0.4em;
}

td[data-sc活用タイトル項] {
	display: table-cell;
	text-align: center;
	color: var(--background-color-light, var(--background-color));
	background-color: var(--ozk5-red, var(--danger-color)) !important;
}

span[data-sc活用タイトル] {
	/* font-family: "Hiragino Kaku Gothic ProN", sans-serif; */
	font-size: 0.6em;
	color: var(--background-color-light, var(--background-color));
	padding-inline-start: 0.2em;
	padding-inline-end: 0.2em;
	text-combine-horizontal: all;
}

td[data-sc活用型項] {
	display: table-cell;
	color: var(--ozk5-red, var(--danger-color));
	text-align: center;
	border-block-start: solid 0.05em var(--ozk5-red, var(--danger-color));
	border-inline-end: solid 0.05em var(--ozk5-red, var(--danger-color));
}

div[data-sc活用型] {
	/* font-family: "Hiragino Kaku Gothic ProN", sans-serif; */
	font-size: 0.6em;
	line-height: 1.4em;
}

td[data-sc活用形項] {
	display: table-cell;
	padding-block: 0.2em;
	padding-inline: 0.3em;
	border-block-start: dashed 0.05em var(--ozk5-red, var(--danger-color));
	border-inline-end: solid 0.05em var(--ozk5-red, var(--danger-color));
	border-block-end: solid 0.05em var(--ozk5-red, var(--danger-color));
	min-width: 2em;
}

span[data-sc活用形項][data-sc-c] {
	text-align: center;
}

span[data-sc活用形項][data-sc-no-b-b] {
	border-block-end-style: none;
}

div[data-sc活用形] {
	font-size: 0.9em;
	line-height: 0.9em;
}

div[data-sc語義パネル-g],
div[data-scガイド-g],
div[data-sc接続囲み-g],
div[data-sc類語パネル-g] {
	margin-block-start: 0.4em;
	margin-block-end: 0.4em;
}

div[data-scパネルタイトル] {
	/* font-family: "Hiragino Kaku Gothic ProN", sans-serif; */
	font-size: 0.8em;
	line-height: 1.4em;
	color: var(--background-color-light, var(--background-color));
	background-color: var(--ozk5-red, var(--danger-color)) !important;
	padding-inline-start: 0.5em;
	padding-inline-end: 0.5em;
}

div[data-scパネルタイトル][data-sc類語パネル] {
	background-color: var(--ozk5-ruigo-panel-background var(--button-default-border-color)) !important;
}

span[data-scパネルタイトルテキスト] {
	color: var(--background-color-light, var(--background-color));
}

div[data-scパネル-c] {
	border-inline-start: solid 0.05em var(--ozk5-red, var(--danger-color));
	border-inline-end: solid 0.05em var(--ozk5-red, var(--danger-color));
	border-block-end: solid 0.05em var(--ozk5-red, var(--danger-color));
}

div[data-scパネル-c][data-sc類語パネル-c] {
	background-color: var(--ozk5-ruigo-panel-background var(--button-default-border-color)) !important;
}

div[data-sc語義パネル解説-g] {
	padding-block: 0.2em;
	padding-inline: 0.3em;
	border-block-end: solid 0.05em var(--ozk5-red, var(--danger-color));
}

span[data-sc重点義タイトル] {
	/* font-family: "Hiragino Kaku Gothic ProN", sans-serif; */
	font-weight: bold;
	color: var(--ozk5-red, var(--danger-color));
}

span[data-sc重点義-m] {
	color: var(--ozk5-light-red, var(--danger-color-light));
}

div[data-sc語義パネル語義-g] {
	padding-inline-start: 0.3em;
	padding-inline-end: 0.3em;
}

table[data-sc語義パネル語義-t],
table[data-sc類語パネル-t],
table[data-sc識別ガイド-t] {
	display: table;
	width: 100%;
}

td[data-sc語義パネル語義-t-c] {
	display: table-cell;
	vertical-align: top;
	padding-inline-start: 0.3em;
	padding-inline-end: 0.3em;
}

td[data-sc語義パネル語義-t-c][data-sc-header] {
	border-inline-end: solid 0.05em var(--ozk5-red, var(--danger-color));
	background-color: var(--ozk5-gogi-panel-header, var(--danger-color-lightest)) !important;
}

td[data-sc語義パネル語義-t-c][data-sc-t-b] {
	border-block-start: solid 0.05em var(--ozk5-red, var(--danger-color));
    border-inline-end: none;
    border-inline-start: none;
    border-block-end: none;
}

span[data-sc語義パネル語義-t][data-sc-v-p],
span[data-sc語義パネル語義-g][data-sc-v-p],
span[data-sc語義パネル語義-t-c][data-sc-v-p],
span[data-scパネル-c][data-sc-v-p] {
	padding-block-start: 0.2em;
	padding-block-end: 0.2em;
}

div[data-sc語義パネル語義][data-sc-n] {
	margin-inline-start: 1.15em;
	text-indent: -1.15em;
}

div[data-scガイド大語義項] {
	/* font-family: "Hiragino Kaku Gothic ProN", sans-serif; */
	font-weight: bold;
	padding-block: 0;
	padding-inline: 0.3em;
}

table[data-scガイド項] {
	display: table;
	padding-block: 0;
	padding-inline: 0.3em;
}

table[data-scガイド項][data-sc-l-m] {
	margin-inline-start: 2.15em;;
}

td[data-scガイド項タイトル] {
	display: table-cell;
	/* font-family: "Hiragino Kaku Gothic ProN", sans-serif; */
	font-weight: bold;
	border: none;
	min-width: 2em;
	vertical-align: top;
}

td[data-scガイド項テキスト] {
	display: table-cell;
	border: none;
	margin-inline-start: 0.3em;
	vertical-align: top;
}

div[data-sc接続大語義項] {
	padding-block: 0;
	padding-inline: 0.3em;
	margin-inline-start: 1.15em;
	text-indent: -1.15em;
}

div[data-sc接続項] {
	padding-block: 0;
	padding-inline: 0.3em;
}

div[data-sc囲み-g] {
	border: solid 0.05em #888;
	margin-block-start: 0.4em;
	margin-block-end: 0.4em;
	padding-block: 0;
	padding-inline: 0.3em;
}

div[data-sc囲み-g][data-sc発展],
div[data-sc囲み-g][data-sc語の広がり],
div[data-sc囲み-g][data-sc識別ボード] {
	border-color: var(--ozk5-red, var(--danger-color));
}

div[data-sc囲み2-g],
div[data-sc囲み-2-g] {
	margin-block-start: 0.4em;
	margin-block-end: 0.4em;
	padding-block: 0;
	padding-inline: 0.3em;
	border-inline-start: solid 0.2em #888;
    border-block-start: none;
    border-inline-end: none;
    border-block-end: none;
}

div[data-sc囲み2-g][data-sc敬語ガイド],
div[data-sc囲み-2-g][data-sc敬語ガイド],
div[data-sc囲み2-g][data-sc慣用表現],
div[data-sc囲み-2-g][data-sc慣用表現] {
    border-color: var(--ozk5-red, var(--danger-color));
}

div[data-sc発展タイトル],
div[data-sc語の広がりタイトル],
div[data-sc敬語ガイドタイトル],
div[data-sc図解学習タイトル],
div[data-sc慣用表現タイトル] {
	/* font-family: "Hiragino Kaku Gothic ProN", sans-serif; */
	font-weight: bold;
}

span[data-sc発展-m],
span[data-sc語の広がり-m] {
	/* font-family: "Hiragino Kaku Gothic ProN", sans-serif; */
	font-weight: bold;
	color: var(--ozk5-red, var(--danger-color));
}

div[data-sc類語パネル共通義] {
	border-block-end: solid 0.05em var(--ozk5-ruigo-panel-border, var(--disabled-color-lighter));
    border-block-start: none;
    border-inline-end: none;
    border-inline-start: none;
	padding-block: 0.2em;
	padding-inline: 0.3em;
}

span[data-sc共通義タイトル] {
	/* font-family: "Hiragino Kaku Gothic ProN", sans-serif; */
	font-weight: bold;
}

span[data-sc共通義-m] {
    color: #888;
}

td[data-sc類語項] {
	display: table-cell;
	padding-block: 0.1em;
	padding-inline: 0.3em;
}

td[data-sc類語項][data-sc-t-b] {
	border-block-start: solid 0.05em var(--ozk5-ruigo-panel-border, var(--disabled-color-lighter));
    border-block-end: none;
    border-inline-end: none;
    border-inline-start: none;
}

td[data-sc類語項][data-sc語句] {
	border-inline-end: solid 0.05em var(--ozk5-ruigo-panel-border, var(--disabled-color-lighter));
    border-block-start: none;
    border-block-end: none;
    border-inline-start: none;
	vertical-align: middle;
	/* font-family: "Hiragino Kaku Gothic ProN", sans-serif; */
	font-weight: bold;
	min-width: 5em;
}

div[data-sc識別ボードタイトル] {
	/* font-family: "Hiragino Kaku Gothic ProN", sans-serif; */
	font-weight: bold;
	color: var(--ozk5-red, var(--danger-color));
}

div[data-sc識別ボードタイトルテキスト] {
	color: var(--ozk5-red, var(--danger-color));
}

td[data-sc識別ガイド見出項] {
	display: table-cell;
	vertical-align: top;
	min-width: 7.5em;
	padding-block-start: 0.15em;
	padding-block-end: 0.15em;
	padding-inline-start: 0;
	padding-inline-end: 0.3em;
}

td[data-sc識別ガイド説明項] {
	display: table-cell;
	vertical-align: top;
	padding-block-start: 0.15em;
	padding-block-end: 0.15em;
	padding-inline-start: 0;
	padding-inline-end: 0.3em;
}

div[data-sc囲み用例メタデータ] {
	text-align: right;
	font-size: 0.8em;
}

div[data-sc囲み用例メタデータ],
div[data-sc文法要語解説用例G],
div[data-sc修辞解説用例G] {
	margin-block-end: 0.2em;
}

div[data-sc文法要語解説小見出] {
	/* font-family: "Hiragino Kaku Gothic ProN", sans-serif; */
	font-weight: bold;
	margin-block-start: 0.4em;
}

span[data-sc文法要語解説ルビ] {
    font-size: 0.7em;
	vertical-align: -0.5em;
}

span[data-sc-rect] {
	padding-block: 0.1em;
	padding-inline: 0.12em;
	/* font-family: "Hiragino Kaku Gothic ProN", sans-serif; */
	font-weight: normal;
	font-size: 0.8em;
	border-width: 0.05em;
	border-style: solid;
	border-color: var(--text-color);
	word-break: keep-all;
}

span[data-sc-rect][data-sc-fill] {
	color: var(--background-color-light, var(--background-color));
	border-style: none;
	background-color: var(--text-color) !important;
}

span[data-sc-rectr] {
	padding-block: 0.1em;
	padding-inline: 0.12em;
	/* font-family: "Hiragino Kaku Gothic ProN", sans-serif; */
	font-weight: normal;
	font-size: 0.8em;
	border-width: 0.05em;
	border-style: solid;
	border-color: var(--text-color);
	word-break: keep-all;
	-webkit-border-radius: 0.15em;
}

span[data-sc-rectr][data-sc-fill] {
	color: var(--background-color-light, var(--background-color));
	border-style: none;
	background-color: var(--text-color) !important;
}

span[data-sc-rectr][data-sc品詞],
span[data-sc-rectr][data-sc文法] {
	background-color: var(--ozk5-hinshi-mark, var(--button-default-icon-color)) !important;
}

span[data-sc-rectr][data-sc用例],
span[data-sc-rectr][data-sc用例訳],
span[data-sc-rectr][data-sc冒頭文] {
	background-color: var(--ozk5-red, var(--danger-color)) !important;
}

span[data-sc-rectr][data-sc分類],
span[data-sc-rectr][data-sc季語] {
	background-color: #888 !important;
}

span[data-sc-rectr][data-scメタデータ作品] {
	font-size: 0.9em;
	color: var(--background-color-light, var(--background-color));
	border-color: var(--background-color-light, var(--background-color));
}

span[data-sc-rectr][data-sc現代] {
	background-color: var(--ozk5-gendai-mark, var(--disabled-color-lighter)) !important;
}

span[data-sc-rectr][data-sc-mark] {
	background-color: var(--ozk5-mark-border, var(--advanced-color-lighter)) !important;
}

span[data-sc-rectr][data-sc敬語ガイド],
span[data-sc-rectr][data-sc図解学習],
span[data-sc-rectr][data-sc慣用表現] {
	background-color: var(--ozk5-red, var(--danger-color)) !important;
}

span[data-sc-rectr][data-sc-button] {
	color: var(--background-color-light, var(--background-color));
	border-color: var(--background-color-light, var(--background-color));
}

span[data-sc-circle] {
	padding: 0.095em;
	/* font-family: "Hiragino Kaku Gothic ProN", sans-serif; */
	font-weight: normal;
	font-size: 0.8em;
	border-width: 0.05em;
	border-style: solid;
	border-color: var(--text-color);
	-webkit-border-radius: 0.67em;
}

span[data-sc-circle][data-sc用例活用] {
	color: var(--ozk5-example-katsuyou-mark, var(--text-color-light2));
	border-color: var(--ozk5-example-katsuyou-mark, var(--text-color-light2));
	-webkit-user-select: nocopy;
}

span[data-sc-circle][data-sc敬語ガイド分類] {
	padding-inline-start: 0.2em;
	padding-inline-end: 0.2em;
}

span[data-sc語義-m],
span[data-sc小語義-m] {
	/* font-family: "Hiragino Kaku Gothic ProN", sans-serif; */
}

span[data-sc-f-m]{
    margin-inline-end: 0.15em;
}

span[data-sc-b-m] {
	margin-inline-start: 0.15em;
}

span[data-sc-i-m] {
	margin-inline-start: 0.15em;
	margin-inline-end: 0.15em;
}

span[data-scハイフン] {
	vertical-align: 0.15em;
	font-size: 0.95em;
}

span[data-sc-headword-dot] {
	font-weight: normal;
}

span[data-scヘッドライン括弧番号] {
	margin-inline-start: 0.2em;
	font-size: 0.6em;
	text-combine-horizontal: all;
}

span[data-sc括弧番号] {
	text-combine-horizontal: all;
	margin-inline-end: 0.1em;
}

span[data-sc参照矢印] {
	/* font-family: "Yu Mincho Pr6N"; */
}

span[data-sc縦中横] {
	text-combine-horizontal: all;
}

span[data-sc-bold] {
	/* font-family: "Hiragino Kaku Gothic ProN", sans-serif; */
	font-weight: bold;
}

span[data-sc-color] {
	/* font-family: "Hiragino Kaku Gothic ProN", sans-serif; */
	font-weight: bold;
	color: var(--ozk5-red, var(--danger-color));
}

span[data-sc-red] {
	color: var(--ozk5-red, var(--danger-color));
}

span[data-sc-strong] {
	/* font-family: "Hiragino Kaku Gothic ProN", sans-serif; */
	font-weight: bold;
}

span[data-sc文法要語underline],
span[data-sc文法要語-underline] {
	padding-block-start: 0.05em;
	border-block-start: solid 0.05em var(--text-color);
    border-block-end: none;
    border-inline-end: none;
    border-inline-start: none;
}

span[data-sc文法要語hasen],
span[data-sc文法要語-hasen] {
	padding-block-start: 0.05em;
	border-block-start: solid 0.05em var(--text-color);
    border-block-end: none;
    border-inline-end: none;
    border-inline-start: none;
}

span[data-sc文法要語nijyusen],
span[data-sc文法要語-nijyusen] {
	padding-block-start: 0.024em;
	border-block-start: solid 0.12em var(--text-color);
    border-block-end: none;
    border-inline-end: none;
    border-inline-start: none;
	margin-inline-start: 0.05em;
	margin-inline-end: 0.05em;
}

div[data-sc画像-g] {
	padding: 0.25em;
}

div[data-sc画像タイトル] {
	font-size: 0.8em;
}

span[data-sc-img][data-sc和歌・俳句],
span[data-sc-img][data-sc文法要語解説],
span[data-sc-img][data-sc修辞解説] {
	max-width: 22em;
}

span[data-sc-img][data-scカラー],
span[data-sc-img][data-scモノクロ],
span[data-sc-img][data-sc図解学習],
span[data-sc-img][data-sc発展],
span[data-sc-img][data-sc語の広がり] {
	width: 45%;
}

span[data-sc-gendai見出] {
	/* font-family: "Hiragino Kaku Gothic ProN"; */
	font-size: 1.1em;
	font-weight: bold;;
}

div[data-sc-gendai-ref-g] {
	margin-block-start: 0.4em;
}

div[data-sc-gendai-ref] span[data-sc品詞-m] {
	border-color: var(--ozk5-blue, var(--accent-color, var(--link-color)));
	background-color: var(--ozk5-blue, var(--accent-color, var(--link-color))) !important;
}

span[data-sc-img][data-sc外字] {
	height: 1em;
	text-combine-horizontal: all;
}

span[data-sc-img][data-sc-audio],
span[data-sc-img][data-sc-audio] {
	padding-block: 0;
	padding-inline: 0.5em;
	height: 1em;
}

span[data-sc-img][data-sc小倉番号] {
	padding-inline-start: 0.3em;
	height: 1em;
}

span[data-sc-img][data-sc-class="audio"] .gloss-image-container,
span[data-sc-img][data-sc-class="audio"] .gloss-image,
span[data-sc-img][data-sc-audio_play_button] .gloss-image-container,
span[data-sc-img][data-sc-audio_play_button] .gloss-image {
	display: none !important;
}

span[data-sc-id="index"] {
	display: none !important;
}

span[data-sc-rank] {
	display: none !important;
}

div[data-sc用例-g] {
	margin-inline-start: 0.3em;
}

div[data-sc画像-g] a {
    max-width: 70% !important;
}

div[data-sc画像-g] a {
	max-height: 100% !important;
}

.gloss-image-container {
	max-height: 100% !important;
}

@media (max-width: 500px) {
	div[data-sc画像-g] a {
		max-width: 60% !important;
	}
}

a:hover {
    color: var(--text-color);
    filter: brightness(1.3);
    text-decoration: underline;
    text-decoration-color: oklch(65% 0.2 260);
}