/* ============================ */
/* ===== 角川新字源 Styling ===== */
/* ============================ */
:root[data-theme="dark"] {
    .definition-item[data-dictionary='角川新字源 改訂新版'] {
        --kadokawa-blue: #00AAFF;
        --kadokawa-red: #FF6666;
        --kadokawa-pink: #AA6264;
        --kadokawa-light-pink: #79474B;
        --kadokawa-gogi-gray: #C8C8C8;
        --kadokawa-light-gray: #777777;
        --kadokawa-extra-light-gray: #333333;
        --kadokawa-kodaimoji-branch-separator: #B0B0B0;
        --kadokawa-kodaimoji-type-separator: #606060;
        --kadokawa-jukugo-hyoki-color: rgb(101, 146, 201);

        /* 古代文字の画像に適用 */
        /* 通常の色反転 */
        span[data-sc-kodaimoji] .gloss-image,
        span[data-sc-img][data-sc-gaiji_h] .gloss-image {
            -webkit-filter: invert(87%);
            filter: invert(87%);
        }

        span[data-sc-rect_oval2] {
            background-color: transparent;
        }
    }
}

.definition-item[data-dictionary='角川新字源 改訂新版'] {
    --kadokawa-blue: #4a8ade;
    --kadokawa-red: #CC0000;
    --kadokawa-pink: #FF928E;
    --kadokawa-light-pink: #FFDBDA;
    --kadokawa-gogi-gray: #5C5C5C;
    --kadokawa-light-gray: #AAAAAA;
    --kadokawa-extra-light-gray: #EEEEEE;
    --kadokawa-kodaimoji-branch-separator: #444444;
    --kadokawa-kodaimoji-type-separator: #A0A0A0;
    --kadokawa-jukugo-hyoki-color: #0A246A;
}

.definition-item[data-dictionary='角川新字源 改訂新版'] {
    span[data-sc-rect],
    span[title="熟語義"],
    span[data-sc-rect_oval],
    span[data-sc-ref][data-sc-furoku],
    span[data-sc-kodaimojitype],
    span[data-sc-kokujilogo],
    span[data-sc-itaijilabel],
    span[data-sc-kokugoshisakulabel],
    span[data-sc-nocode],
    span[data-sc-kenjinumber],
    span[data-sc-circle],
    span[data-sc-circlenumber],
    span[data-sc-circlekana],
    span[data-sc-bracket],
    span[data-sc-busyukakusulabel],
    span[data-sc-busyubusyulabel],
    div[data-sc-busyuyomicontent],
    span[data-sc-busyukakusu]  {
        font-family: "Source Han Sans JP", "Hiragino Kaku Gothic ProN";
    }
}